.App {
  text-align: center;
}

.Container{
width: calc(100%-60%);
margin: 0 auto;
max-width: 1600px;
}

.Header{
padding: 10px 0;
}

.Header > .Container{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.Cart{
  position: relative;
}

.Cart > div{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-80%);
  height: 200px;
  width: 300px;
  border: 1px black solid;
  margin-top: 15px;
  background: #fff;
  overflow: scroll;
  display: none;
}

.Cart li{
  list-style: auto;
}


.Card > img{
  width: 200px;
}

